@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: #1c1e21;
  --accent_blue: "#0290F2";
}

body {
  min-height: 100vh;
  color: rgb(var(--foreground-rgb));
  background: var(--background-rgb);
}

/* Scrollbars */

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-track {
  background: rgb(96, 96, 96);
}
body::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
}
body::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
}

aside::-webkit-scrollbar {
  width: 10px;
}
aside::-webkit-scrollbar-track {
  background: rgb(96, 96, 96);
}
aside::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
}
aside::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
}

.live_chat::-webkit-scrollbar {
  width: 10px;
}
.live_chat::-webkit-scrollbar-track {
  background: rgb(96, 96, 96);
}
.live_chat::-webkit-scrollbar-thumb {
  background: rgb(64, 64, 64);
}
.live_chat::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
}

/* Tooltips */
.mainNav a:first-child .mainBtn:after {
  content: "Home";
}
.mainNav a:nth-child(2) .mainBtn:after {
  content: "Movies";
}
.mainNav a:nth-child(3) .mainBtn:after {
  content: "Marketplace";
}
.mainNav a:nth-child(4) .mainBtn:after {
  content: "Groups";
}
.mainNav a:nth-child(5) .mainBtn:after {
  content: "Games";
}

.sideNav li:first-child .sideBtn:after {
  content: "Menu";
}
.sideNav li:nth-child(2) .sideBtn:after {
  content: "Messenger";
}
.sideNav li:nth-child(3) .sideBtn:after {
  content: "Notifications";
}
.sideNav li:nth-child(4) .sideBtn:after {
  content: "Account";
}

.loginBox,
.registerBox,
aside {
  height: calc(100vh - 60px);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
